<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Information Form</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
       
    <style>
      input[type=text], select {
       width: 100%;
       padding: 5px 6px;
       margin: 4px 0;
   
       border-radius: 5px ;
       box-sizing: border-box;
       
       }
        body{
            background-color:#ced4da;
        }
        h2{
            text-align: center;
            color: #1840C4;
        }
        input{
            border-radius: 5px
        }
    </style>
    
</head>
<body>
    <!--Header-->
    <div class="contianer">
        <header class="shadow-sm d-flex flex-wrap justify-content-center py-3 mb-3 border-bottom" style="background-color: #1840C4 ;">
            <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
                <img class="ps-5 img-fluid"  src="header_logo.jpg" alt="logo" style="height: 50px; width: auto;">
            </div>
    
            <ul class="nav pe-5">
                <li class="nav-item"><a href="#" class="nav-link text-white" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Logs</a></li>
                <li class="nav-item active"><a href="#" class="nav-link text-white">Search</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Create</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Accounts</a></li>
                <li class="nav-item active"><a href="#" class="nav-link text-white">Profile</a></li>
            </ul>
        </header>
    </div>
    <!--Header-->
    <div style="text-shadow: 2px 2px 2px rgb(173, 173, 173);">
        <h2>GUEST INFORMATION FORM</h2>
    </div>
    
    <div class="container p-3">
        <div style="background-color:white; padding:50px; border-radius: 10px">

                <form action="connect.php" method="post">

                    <div class="row">
                        <div class="col-6">
                            <label for="Name">Name</label>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First Name" required pattern="[a-zA-Z ]{1,30}"oninvalid="this.setCustomValidity('Enter First Name Here')" oninput="this.setCustomValidity('')">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last Name" id="validationDefault02" value="" required pattern="[a-zA-Z ]{1,30}"oninvalid="this.setCustomValidity('Enter Last Name Here')" oninput="this.setCustomValidity('')">
                                    </div>
                                </div>
                        </div>

                        <div class="col-6">
                            <div class="row">

                                <div class="col-6">
                                    <label for="Gender">Gender</label>
                                        <select name="Gender" class="form-select" id="Gender" aria-label="Default select example">
                                            <option value="">-- Select Gender --</option>
                                            <option value="">Male</option>
                                            <option value="">Female</option>
                                            <option value="">Rather Not To Say</option>
                                        </select>
                               </div>

                                <div class="col-6">
                                    <label for="Birth Date">Birth Date</label>
                                    <input type="date" class="form-control" placeholder="Birth Date">
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="row mt-3">

                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email Address</label>
                                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email" required>
                            </div>
                        </div>

                        <div class="col-3">
                            <label for="ID Type">ID Type</label>
                                <select name="ID Type" class="form-select" id="ID Type" aria-label="Default select example">
                                    <option value="id type">-- Select ID Type --</option>
                                    <option value="passport">Passport</option>
                                    <option value="sss umid">SSS UMID</option>
                                    <option value="philhealth">PHILHEALTH</option>
                                    <option value="driver's license">Driver's License</option>    
                                </select>
                        </div>

                        <div class="col-3">
                            <label for="ID Number">ID Number</label>
                            <input type="number" class="form-control" placeholder="" pattern="[0-9]*">
                        </div>

                    </div>


                    <div class="row mt-3">

                        <div class="col-6">
                            <label for="Address">Address</label>
                                <select id="Address" class="form-control" required>
                                    <option value="">-- Select Address --</option>
                                    <option value="">Philippine Address</option>
                                    <option value="">Foreign Address</option>
                                </select>
                       </div>

                       

                        <div class="col-6">
                            <label for="Marital Status">Marital Status</label>
                                <select id="Marital Status" class="form-select" required>
                                    <option value="">-- Select Marital Status--</option>
                                    <option value="">Single</option>
                                    <option value="">Married</option>
                                    <option value="">Separated</option>
                                    <option value="">Divorced</option>
                                    <option value="">Widowed</option>
                                    <option value="">Life Partner</option>
                                </select>
                        </div>

                    </div>


                    <div class="row mt-3">

                        <div class="col-3">
                            <label for="Contact Number" style="margin-bottom: 4px;">Contact Number</label>
                                <div class="row">
                                    <div class="col">
                                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
                                        <input id="phone" type="number" name="phone" class="form-control" required pattern="[1,9]"oninvalid="this.setCustomValidity('Enter Contact Number')" oninput="this.setCustomValidity('')"> 
                                        <script>const phoneInputField = document.querySelector("#phone");
                                                const phoneInput = window.intlTelInput(phoneInputField, {
                                                utilsScript:
                                                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",});
                                        </script>
                                    </div>
                                </div>
                        </div>

                    </div>

                    <div class="pt-4">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary me-md-2" type="submit">Reserve</button>
                            <button class="btn btn-primary me-md-2" type="button">Check in</button>
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>

                </form>
        </div>
    </div>
</body>
</html>

<script src="./ph_address_selector.js" defer></script>
<script src="./foreign_address_selector.js" defer></script>


       